<!-- Carousel
Change your images in the main.css file.
================================================== -->
<div id="header" class="carousel slide animated fadeIn" data-ride="carousel">

    <!-- Indicators -->
    <!--
    <ol class="carousel-indicators">
        <li data-target="#header" data-slide-to="0" class="active"></li>
        <li data-target="#header" data-slide-to="1"></li>
        <li data-target="#header" data-slide-to="2"></li>
    </ol>
    -->
<div class="carousel-inner">
    <div class="item one active">
        <div class="container animated fadeInUp">
            <div class="carousel-caption">
                <h1>ALEGRIA NO CAOS</h1>
                <p class="lead margin-40"><em class="banner-subtitle">Queremos espalhar a alegria em meio ao caos em que vivemos!</em></p>
                <a class="btn-main scroll" href="#sobre"><i class="icon-chevron-right"></i> Saiba mais</a>
            </div>
        </div>
    </div>
        <!--
        <div class="item two">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Built With Bootstrap</h1>
                    <p class="lead margin-40"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</em></p>
                    <a class="btn-main" href="services.html"><i class="icon-chevron-right"></i> More</a>
                </div>
            </div>
        </div>
        <div class="item three">
            <div class="container">
                <div class="carousel-caption">
                    <h1>100% Responsive</h1>
                    <p class="lead margin-40"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</em></p>
                    <a class="btn-main" href="pricing.html"><i class="icon-chevron-right"></i> More</a>
                </div>
            </div>
        </div>
        -->
</div>
    <!--
    <a class="left carousel-control hidden-xs" href="#header" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="right carousel-control hidden-xs" href="#header" data-slide="next"><i class="fa fa-angle-right"></i></a>
    -->
</div>
<!-- /.carousel -->

<!--Content-->
<section id="sobre" class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Sobre</h3>
                <p class="lead">
                    Quem somos / O que fazemos
                </p>
                <p>
                    Somos um grupo que age de forma independente e que deseja espalhar a alegria em meio ao caos em que vivemos.
                </p>
                <p>
                    O Alegria no Caos desenvolve ações e projetos com o objetivo de transformar a nossa realidade, combatendo o caos instaurado em nosso meio, buscando um ambiente mais feliz, justo e melhor para se viver.
                </p>
                <p>
                    Em nossos projetos e ações buscamos priorizar pessoas que vivem em situações de risco e grupos menos favorecidos.
                </p>
                <p>
                    Não queremos apenas sonhar com crianças sorrindo, casais felizes e idosos contentes. Temos vontade de tornar isso uma realidade, hoje, aqui e agora.
                </p>
            </div>
        </div>
    </div>
</section>

<!--Testimonial Section-->
<section id="testimonial" class="section slide animated fadeIn" data-ride="carousel" style="position: relative;">
    <ol class="carousel-indicators">
        <li data-target="#testimonial" data-slide-to="0" class="active"></li>
        <li data-target="#testimonial" data-slide-to="1"></li>
        <li data-target="#testimonial" data-slide-to="2"></li>
        <li data-target="#testimonial" data-slide-to="3"></li>
        <li data-target="#testimonial" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner">

        <div class="item active">
            <div class="container animated fadeInUp">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 margin-30">
                            <%= image_tag("andre_saldiba_avatar.jpg", :class => "testimony-avatar") %>
                        </div>

                        <div class="col-sm-9">
                            <h2>“Não podemos mudar o caos, mas podemos mudar um sorriso!”</h2>
                            <div class="testimonial-source pull-right">André Saldiba</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
        <div class="item">
            <div class="container animated fadeInUp">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 margin-30">
                            <%= image_tag("tiago_sciencia_avatar.jpg", :class => "testimony-avatar") %>
                        </div>

                        <div class="col-sm-9">
                            <h2>“Nós levamos a ALEGRIA a sério!”</h2>
                            <div class="testimonial-source pull-right">Tiago Sciência</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="item">
            <div class="container animated fadeInUp">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 margin-30">
                            <%= image_tag("everton_alemao_avatar.jpg", :class => "testimony-avatar") %>
                        </div>

                        <div class="col-sm-9">
                            <h2>“Queremos espalhar a ALEGRIA em meio ao caos em que vivemos!”</h2>
                            <div class="testimonial-source pull-right">Everton Alemão</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="item">
            <div class="container animated fadeInUp">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 margin-30">
                            <%= image_tag("gabriel_morais_avatar.jpg", :class => "testimony-avatar") %>
                        </div>

                        <div class="col-sm-9">
                            <h2>“A gente espalha ALEGRIA!”</h2>
                            <div class="testimonial-source pull-right">Gabriel Morais</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        

        <div class="item">
            <div class="container animated fadeInUp">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 margin-30">
                            <%= image_tag("wagner_ribeiro_avatar.jpg", :class => "testimony-avatar") %>
                        </div>

                        <div class="col-sm-9">
                            <h2>“A gente acredita na ALEGRIA!”</h2>
                            <div class="testimonial-source pull-right">Wagner Ribeiro</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>


<!--Latest News-->
<section id="acoes" class="section">
    <div class="container">
        <div class="row margin-40">
            <div class="col-sm-12 dark-gray">
                <h3>Ações realizadas</h3>
            </div>
        </div>

        <div class="row">

            <!--News Article-->
            <div class="col-sm-3 text-center">
                <div class="latest-article">
                    <%= image_tag("latest-news3.jpg", :class => "img-responsive") %>  
                    <p>[20/12/2013 - Masp]</p>
                    <p>
                        Descrever o que foi a açao ... [Criar texto]
                    </p>
                    <br />
                    <a class="more" href="http://goo.gl/3nYI0L" target="_blank"><i class="fa fa-chevron-circle-right fa-2x gray margin-20"></i></a>
                </div>
            </div>

        </div>
    </div>
</section>

<!--Message Section-->
<section id="message" class="section">
    <div class="container">
        <div class="row margin-40">
            <div class="col-sm-12 text-center">
                <h2>"..."</h2>
            </div>
        </div>
    </div>
</section>

<!--Services-->
<section id="participe" class="section">
    <div class="container">
        <div class="row margin-40">
            <div class="col-sm-12 dark-gray">
                <h3>Participe</h3>
            </div>
        </div>
        
        <div class="row text-center">

            <!--Seciton 1-->
            <div class="col-sm-4 service margin-30">
                <a href="#">
                    <i class="fa fa-users fa-4x light-gray"></i>
                    <h3>Siga nas redes sociais</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                </a>
            </div>

            <!--Seciton 2-->
            <div class="col-sm-4 service margin-30">
                <a href="#">
                    <i class="fa fa-bell fa-4x light-gray"></i>
                    <h3>Fique ligado</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                </a>
            </div>

            <!--Seciton 3-->
            <div class="col-sm-4 service margin-30">
                <a href="#">
                    <i class="fa fa-money fa-4x light-gray"></i>
                    <h3>Doe</h3>
                    <p>
                        Procure um de nossos organizadores e veja como doar. Sua colaboração ajudará em nossas ações e projetos.
                    </p>
                </a>
            </div>

        </div>
    </div>
</section>
