<!-- Carousel
Change your images in the main.css file.
================================================== -->
<div id="header" class="carousel slide animated fadeIn" data-ride="carousel">

    <!-- Indicators -->
    <!--
    <ol class="carousel-indicators">
        <li data-target="#header" data-slide-to="0" class="active"></li>
        <li data-target="#header" data-slide-to="1"></li>
        <li data-target="#header" data-slide-to="2"></li>
    </ol>
    -->
    <div class="carousel-inner">
        <div class="item one active">
            <div class="container animated fadeInUp">
                <div>
                    <%= image_tag("sorriso.png", :class => "img-responsive img-logo") %>
                    <!--
                    <div class="box-title">
                        <h1 class="title">Queremos espalhar a alegria em meio ao caos em que vivemos!</h1>
                    </div>
                    -->
                </div>
                <!--
                <div class="carousel-caption">
                    <h1>ALEGRIA NO CAOS</h1>
                    <p class="lead margin-40"><em class="banner-subtitle">Queremos espalhar a alegria em meio ao caos em que vivemos!</em></p>
                    <a class="btn-main scroll" href="#sobre"><i class="icon-chevron-right"></i> Saiba mais</a>
                </div>
                -->
            </div>
        </div>
            <!--
            <div class="item two">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Built With Bootstrap</h1>
                        <p class="lead margin-40"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</em></p>
                        <a class="btn-main" href="services.html"><i class="icon-chevron-right"></i> More</a>
                    </div>
                </div>
            </div>
            <div class="item three">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>100% Responsive</h1>
                        <p class="lead margin-40"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</em></p>
                        <a class="btn-main" href="pricing.html"><i class="icon-chevron-right"></i> More</a>
                    </div>
                </div>
            </div>
            -->
    </div>
    <!--
    <a class="left carousel-control hidden-xs" href="#header" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="right carousel-control hidden-xs" href="#header" data-slide="next"><i class="fa fa-angle-right"></i></a>
    -->
</div>
<!-- /.carousel -->

<!--Content-->
<section id="sobre" class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h3>Sobre</h3>
                <p class="lead">
                    Veja quem somos e o que fazemos \o/
                </p>
                <p>
                    O Alegria no Caos é um grupo que age de forma independente e que deseja espalhar a alegria em meio ao caos em que vivemos!
                </p>
                <p>
                    Desenvolvemos ações e projetos com o objetivo de transformar a nossa realidade, combatendo o caos instaurado em nosso meio, buscando um ambiente mais feliz, justo e melhor para se viver.
                </p>
                <p>
                    Em nossos projetos e ações buscamos priorizar pessoas que vivem em situações de risco e grupos menos favorecidos.
                </p>
                <p>
                    Não queremos apenas sonhar com crianças sorrindo, casais felizes e idosos contentes. Temos vontade de tornar isso uma realidade, hoje, aqui e agora.
                </p>
            </div>
            <div class="col-sm-5">                
                <iframe width="100%" height="350" src="//www.youtube.com/embed/Yx5P-Z-gx38" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<!--Message Section-->
<section id="message" class="section section-60">
    <div class="container">
        <div class="row margin-40">
            <div class="col-sm-12 text-center">
                <h2>Não podemos mudar o caos, mas podemos mudar um sorriso!</h2>
            </div>
        </div>
    </div>
</section>

<!--Latest News-->
<section id="acoes" class="section">
    <div class="container">
        <div class="row margin-40">
            <div class="col-sm-12 dark-gray">
                <h3>Ações realizadas</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 text-center">
                <div class="latest-article">
                    <a href="https://goo.gl/7WrgrD" target="_blank">
                      <%= image_tag("acao_beleza.jpg", :class => "img-responsive") %>  
                    </a>
                    <br />
                    <p>
                        <strong>[19/09/2015 - Trato no visual]</strong>
                    </p>
                    <p>
                        Fomos juntos ao Abrigo de Idosos “Alexandre Dahruj” em uma ação para oferecer cuidado e beleza.
                    </p>
                    <br />  
                    <a class="more" href="https://goo.gl/7WrgrD" target="_blank"><i class="fa fa-chevron-circle-right fa-2x gray margin-20"></i></a>                  
                </div>
            </div> 

            <div class="col-sm-3 text-center">
                <div class="latest-article">
                    <a href="https://www.facebook.com/alegrianocaos" target="_blank">
                      <%= image_tag("acao_doacao_de_sangue.jpg", :class => "img-responsive") %>  
                    </a>
                    <br />
                    <p>
                        <strong>[22/08/2015 - Doação de Sangue]</strong>
                    </p>
                    <p>
                        Doação de sangue no Hemocentro de São Paulo - HC.
                    </p>
                    <br />  
                    <a class="more" href="https://www.facebook.com/alegrianocaos" target="_blank"><i class="fa fa-chevron-circle-right fa-2x gray margin-20"></i></a>                  
                </div>
            </div> 

            <div class="col-sm-3 text-center">
                <div class="latest-article">
                    <a href="https://goo.gl/dhXPvw" target="_blank">
                      <%= image_tag("acao_casinha.jpg", :class => "img-responsive") %>  
                    </a>
                    <br />
                    <p>
                        <strong>[18/07/2015 - Restauração e Recreação]</strong>
                    </p>
                    <p>
                        Uma manhã cheia de cores, crianças e ALEGRIA!
                    </p>
                    <br />  
                    <a class="more" href="https://goo.gl/dhXPvw" target="_blank"><i class="fa fa-chevron-circle-right fa-2x gray margin-20"></i></a>                  
                </div>
            </div> 

            <div class="col-sm-3 text-center">
                <div class="latest-article">
                    <a href="https://www.facebook.com/alegrianocaos" target="_blank">
                      <%= image_tag("acao_sopa_2015.jpg", :class => "img-responsive") %>  
                    </a>
                    <br />
                    <p>
                        <strong>[26/06/2015 - Sopa no Centro]</strong>
                    </p>
                    <p>
                        ALEGRIA e calor em troca de sorrisos! Fomos entregar sopa e cobertor no Teatro Municipal de São Paulo.
                    </p>
                    <br />  
                    <a class="more" href="https://www.facebook.com/alegrianocaos" target="_blank"><i class="fa fa-chevron-circle-right fa-2x gray margin-20"></i></a>                  
                </div>
            </div> 
        </div>

        <div class="row">
            <div class="col-sm-3 text-center">
                <div class="latest-article">
                    <a href="https://goo.gl/oonHPV" target="_blank">
                      <%= image_tag("acao_azilo_2015.jpg", :class => "img-responsive") %>  
                    </a>
                    <br />
                    <p>
                        <strong>[23/05/2015 - Café no Azilo]</strong>
                    </p>
                    <p>
                        Um café manhã coletivo de integração e solidariedade, onde a nossa missão foi levar alegria, e a nossa recompensa foi receber sorrisos.
                    </p>
                    <br />  
                    <a class="more" href="https://goo.gl/oonHPV" target="_blank"><i class="fa fa-chevron-circle-right fa-2x gray margin-20"></i></a>                  
                </div>
            </div>  

            <div class="col-sm-3 text-center">
                <div class="latest-article">
                    <a href="https://www.facebook.com/alegrianocaos" target="_blank">
                      <%= image_tag("acao_sangue_2015.jpg", :class => "img-responsive") %>  
                    </a>
                    <br />
                    <p>
                        <strong>[18/02/2015 - Doação de Sangue]</strong>
                    </p>
                    <p>
                        Doe sangue e faça alguem pular de alegria
                    </p>
                    <br />  
                    <a class="more" href="https://www.facebook.com/alegrianocaos" target="_blank"><i class="fa fa-chevron-circle-right fa-2x gray margin-20"></i></a>                  
                </div>
            </div>  

            <div class="col-sm-3 text-center">
                <div class="latest-article">
                    <a href="http://goo.gl/A7xJrw" target="_blank">
                      <%= image_tag("flores_na_av_paulista.jpg", :class => "img-responsive") %>  
                    </a>
                    <br />
                    <p>
                        <strong>[19/11/2014 - Flores na Paulista]</strong>
                    </p>
                    <p>
                        Distribuímos 2 mil flores, sorrisos e muita ALEGRIA a pedestres e motoristas na Avenida Paulista.
                    </p>
                    <br />  
                    <a class="more" href="http://goo.gl/A7xJrw" target="_blank"><i class="fa fa-chevron-circle-right fa-2x gray margin-20"></i></a>                  
                </div>
            </div>

            <div class="col-sm-3 text-center">
                <div class="latest-article">
                    <a href="http://goo.gl/DiBMih" target="_blank">
                      <%= image_tag("lar_do_caminho.jpg", :class => "img-responsive") %>  
                    </a>
                    <br />
                    <p>
                        <strong>[19/10/2014 - Lar do Caminho]</strong>
                    </p>
                    <p>
                        No mês das crianças o Alegria no Caos - em parceria com o EducandArte - promoveu um dia cheio de atividades, histórias e diversão no Lar do Caminho.
                    </p>
                    <br />  
                    <a class="more" href="http://goo.gl/DiBMih" target="_blank"><i class="fa fa-chevron-circle-right fa-2x gray margin-20"></i></a>                  
                </div>
            </div>    
        </div>

        <div class="row">
            <div class="col-sm-3 text-center">
                <div class="latest-article">
                    <a href="http://goo.gl/9E7cCw" target="_blank">
                      <%= image_tag("acao_praca_da_se.jpg", :class => "img-responsive") %>  
                    </a>
                    <br />
                    <p>
                        <strong>[04/10/2014 - Praça da Sé]</strong>
                    </p>
                    <p>
                        O Alegria no Caos promoveu um café da manhã na Praça da Sé e levou um pouco de alegria para as pessoas que vivem em situação de rua.
                    </p>
                    <br />  
                    <a class="more" href="http://goo.gl/9E7cCw" target="_blank"><i class="fa fa-chevron-circle-right fa-2x gray margin-20"></i></a>                  
                </div>
            </div>  

            <div class="col-sm-3 text-center">
                <div class="latest-article plantao">
                    <a href="http://goo.gl/dDOoOV" target="_blank">
                      <%= image_tag("favela_do_piolho.jpg", :class => "img-responsive") %>  
                    </a>
                    <br />
                    <p>
                        <strong>[13/09/2014 - Favela do Piolho]<br />- PLANTÃO -</strong>
                    </p>
                    <p>
                        Ação em parceria com a Máquina do Bem, na Favela do Piolho - comunidade totalmente destruída por um incêndio. Distribuímos o equivalente a 408 litros de água, 28 cestas básicas, 31 pacotes de fraldas e 80 kits completos.
                    </p>
                    <br />  
                    <a class="more" href="http://goo.gl/dDOoOV" target="_blank"><i class="fa fa-chevron-circle-right fa-2x gray margin-20"></i></a>                  
                </div>
            </div>  

            <div class="col-sm-3 text-center">
                <div class="latest-article">
                    <a href="http://goo.gl/QGLzZ7" target="_blank">
                      <%= image_tag("ecolar_alegria_no_caos.jpg", :class => "img-responsive") %>  
                    </a>
                    <br />
                    <p>
                        <strong>[19-21/06/2014 - ECOLar]</strong>
                    </p>
                    <p>
                        Um projeto social tem transformado a realidade de famílias que moram em barracos na comunidade Favela Morro do Sabão, na zona leste de São Paulo. O Instituto Mangalô tem construído casas ecológicas que priorizam o uso de materiais sustentáveis e contam com a ajuda de doações e mão de obra voluntária. 
                    </p>
                    <br />  
                    <a class="more" href="http://goo.gl/QGLzZ7" target="_blank"><i class="fa fa-chevron-circle-right fa-2x gray margin-20"></i></a>                  
                </div>
            </div>

            <div class="col-sm-3 text-center">
                <div class="latest-article plantao">
                    <a href="http://goo.gl/yN1UDJ" target="_blank">
                        <%= image_tag("sopa_minhocao.jpg", :class => "img-responsive") %>  
                    </a>
                    <br />
                    <p>
                        <strong>[30/05/2014 - Sopa]<br />- PLANTÃO -</strong>
                    </p>
                    <p>
                        Estivemos na região do Elevado Presidente Costa e Silva - São Paulo, para distribuir sopas para a população de rua e levar um pouco de ALEGRIA a esse caos!
                    </p>
                    <br />            
                </div>
            </div>            
        </div>

        <div class="row">
            <div class="col-sm-3 text-center">
                <div class="latest-article">
                    <a class="more" href="http://goo.gl/DjGn9c" target="_blank">
                        <%= image_tag("doacao_sangue.jpg", :class => "img-responsive") %>  
                    </a>
                    <br />
                    <p>
                        <strong>[08/03/2014 - Pró-Sangue]</strong>
                    </p>
                    <p>
                        A ação denominada "rolezinho" ao Pró sangue no Hemocentro de São Paulo - Posto Clínicas. Cerca de 20 jovens compareceram para doar sangue.
                    </p>
                    <br />
                    <a class="more" href="http://goo.gl/DjGn9c" target="_blank"><i class="fa fa-chevron-circle-right fa-2x gray margin-20"></i></a>
                </div>
            </div>  
          
            <div class="col-sm-3 text-center">
                <div class="latest-article">
                    <a class="more" href="http://goo.gl/UcztbF" target="_blank">
                        <%= image_tag("escola_nossaTurma.jpg", :class => "img-responsive") %>  
                    </a>
                    <br />
                    <p>
                        <strong>[25/01/2014 - CEAGESP]</strong>
                    </p>
                    <p>
                        A ação aconteceu na Associação de Apoio à Infância e Adolescência Nossa Turma. Fomos até lá para pintar uma escola que atende crianças e adolescentes carentes dentro da Ceagesp.
                    </p>
                    <br />
                    <a class="more" href="http://goo.gl/UcztbF" target="_blank"><i class="fa fa-chevron-circle-right fa-2x gray margin-20"></i></a>
                </div>
            </div>
          
            <div class="col-sm-3 text-center">
                <div class="latest-article plantao">
                    <a href="http://goo.gl/yN1UDJ" target="_blank">
                        <%= image_tag("comunidade_carapicuiba.jpg", :class => "img-responsive") %>  
                    </a>
                    <br />
                    <p>
                        <strong>[18/01/2014 - Carapicuiba]<br />- PLANTÃO -</strong>
                    </p>
                    <p>
                        Ação em uma comunidade de Carapicuíba que foi atingida por um incêndio. Levamos leite, fralda e ALEGRIA.
                    </p>
                    <br />
                    <a class="more" href="http://goo.gl/yN1UDJ" target="_blank"><i class="fa fa-chevron-circle-right fa-2x gray margin-20"></i></a>
                </div>
            </div> 

            <div class="col-sm-3 text-center">
                <div class="latest-article">
                    <a href="http://goo.gl/3nYI0L" target="_blank">
                        <%= image_tag("transito_paulista.jpg", :class => "img-responsive") %> 
                    </a>
                    <br />
                    <p>
                        <strong>[20/12/2013 - Masp]</strong>
                    </p>
                    <p>
                        No cenário caótico da Avenida Paulista, em horário de pico e a poucos dias do Natal, nossa primeira ação foi entregar mil rosas, espalhar gestos de gentileza e levar “Alegria no Caos”.
                    </p>
                    <br />
                    <a class="more" href="http://goo.gl/3nYI0L" target="_blank"><i class="fa fa-chevron-circle-right fa-2x gray margin-20"></i></a>
                </div>
            </div>  
        </div>
      
    </div>
</section>

<!--Testimonial Section-->
<section id="testimonial" class="section slide animated fadeIn" data-ride="carousel" style="position: relative;">
    <ol class="carousel-indicators">
        <li data-target="#testimonial" data-slide-to="0" class="active"></li>
        <li data-target="#testimonial" data-slide-to="1"></li>
        <li data-target="#testimonial" data-slide-to="2"></li>
        <li data-target="#testimonial" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner">
        
        <div class="item active">
            <div class="container animated fadeInUp">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 margin-30">
                            <%= image_tag("thais_gonzales_avatar.jpg", :class => "testimony-avatar") %>
                        </div>

                        <div class="col-sm-9">
                            <h2>A primeira ação Alegria no Caos, na Paulista, foi muito especial. Fomos com a intenção de surpreender e, na realidade, fomos surpreendidos com a receptividade 
                                e a alegria das pessoas que foram presenteadas. Sorrisos e agradecimentos ficaram em minha memória e coração. A ação mostrou o que já sabemos, mas muitas 
                                vezes nos esquecemos: a cidade precisa de mais atos de gentileza, as pessoas precisam de mais amor. Gestos simples como o que promovemos fizeram a diferença n
                                o dia de muita gente. É isso o que importa! Esse é o caminho que devemos continuar trilhando.</h2>
                            <div class="testimonial-source pull-right">Thais Gonzales</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
        <div class="item">
            <div class="container animated fadeInUp">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 margin-30">
                            <%= image_tag("sara_emily_avatar.jpg", :class => "testimony-avatar") %>
                        </div>

                        <div class="col-sm-9">
                            <h2>Quando fui participar do primeiro encontro do Alegria no Caos não tinha noção do quão incrível seria. Naquele dia, no caos da Av. Paulista, dias antes do Na
                                tal, levei um pedacinho de ALEGRIA não só para as pessoas que entreguei as rosas, mas principalmente para mim. Pude ver a diferença que um sorriso no nosso ros
                                to faz e pude ver também o amor na atitude de cada um que parou para aceitar aquela rosa. Com certeza foi um dia inesquecível!</h2>
                            <div class="testimonial-source pull-right">Sarah Emily</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="item">
            <div class="container animated fadeInUp">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 margin-30">
                            <%= image_tag("jessica_rezende_avatar.jpg", :class => "testimony-avatar") %>
                        </div>

                        <div class="col-sm-9">
                            <h2>Dar um passo em direção à necessidade do próximo é uma escolha nossa. E é mais simples do que parece... Não tínhamos como mudar todo o sistema educacional, 
                                mas dava pra levar cores e alegria para o dia-a-dia de uma escola. Então a gente foi lá e fez.</h2>
                            <div class="testimonial-source pull-right">Jéssica Rezende</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="item">
            <div class="container animated fadeInUp">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 margin-30">
                            <%= image_tag("fabio_khattar_avatar.jpg", :class => "testimony-avatar") %>
                        </div>

                        <div class="col-sm-9">
                            <h2>Muito especial o tempo que passei na escola Nossa Turma, dia 25 de Janeiro! Tempo de espalhar cores e compartilhar alegria! Não só a alegria que experimentei por poder participar de várias tarefas coletivas, ou por conhecer uma gente bacana e engajada socialmente, mas, principalmente, por saber que a reforma daquela escola iria com certeza mudar o dia-a-dia na escola de tantas crianças, e despertar nelas um pouco mais de imaginação e criatividade. Foi D+!</h2>
                            <div class="testimonial-source pull-right">Fábio Augusto Khattar</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        

        <!--
        <div class="item active">
            <div class="container animated fadeInUp">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 margin-30">
                            <%= image_tag("andre_saldiba_avatar.jpg", :class => "testimony-avatar") %>
                        </div>

                        <div class="col-sm-9">
                            <h2>Não queremos apenas sonhar com crianças sorrindo. Queremos tornar isso uma realidade, hoje, aqui e agora.</h2>
                            <div class="testimonial-source pull-right">André Saldiba</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
        <div class="item">
            <div class="container animated fadeInUp">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 margin-30">
                            <%= image_tag("tiago_sciencia_avatar.jpg", :class => "testimony-avatar") %>
                        </div>

                        <div class="col-sm-9">
                            <h2>“Nós levamos a ALEGRIA a sério!”</h2>
                            <div class="testimonial-source pull-right">Tiago Sciência</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="item">
            <div class="container animated fadeInUp">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 margin-30">
                            <%= image_tag("everton_alemao_avatar.jpg", :class => "testimony-avatar") %>
                        </div>

                        <div class="col-sm-9">
                            <h2>“Queremos espalhar a ALEGRIA em meio ao caos em que vivemos!”</h2>
                            <div class="testimonial-source pull-right">Everton Alemão</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="item">
            <div class="container animated fadeInUp">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 margin-30">
                            <%= image_tag("gabriel_morais_avatar.jpg", :class => "testimony-avatar") %>
                        </div>

                        <div class="col-sm-9">
                            <h2>“A gente espalha ALEGRIA!”</h2>
                            <div class="testimonial-source pull-right">Gabriel Morais</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        

        <div class="item">
            <div class="container animated fadeInUp">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 margin-30">
                            <%= image_tag("wagner_ribeiro_avatar.jpg", :class => "testimony-avatar") %>
                        </div>

                        <div class="col-sm-9">
                            <h2>“A gente acredita na ALEGRIA!”</h2>
                            <div class="testimonial-source pull-right">Wagner Ribeiro</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
</section>
    

<!--Services-->
<section id="participe" class="section">
    <div class="container">
        <div class="row margin-40">
            <div class="col-sm-12 dark-gray">
                <h3>Participe</h3>
            </div>
        </div>
        
        <div class="row text-center">

            <!--Seciton 1-->
            <div class="col-sm-4 service margin-30">
                <a href="#">
                    <i class="fa fa-users fa-4x light-gray"></i>
                    <h3>Siga nas redes sociais</h3>
                    <p>Estamos no Facebook, Twitter, Instagram e Youtube. Acompanhe e fique por dentro das nossas ações e novidades em tempo real.</p>
                </a>
            </div>

            <!--Seciton 2-->
            <div class="col-sm-4 service margin-30">
                <a href="#">
                    <i class="fa fa-bell fa-4x light-gray"></i>
                    <h3>Fique ligado</h3>
                    <p>Não perca a oportunidade de participar dos próximos projetos. Cadastre-se e receba todas as informações em seu e-mail.</p>
                    <p>[Em breve]<p>
                </a>
            </div>

            <!--Seciton 3-->
            <div class="col-sm-4 service margin-30">
                <a href="#">
                    <i class="fa fa-thumbs-up fa-4x light-gray"></i>
                    <h3>Colabore</h3>
                    <p>
                        Acreditamos que unir forças é indispensável para a continuação e ampliação de nossos projetos.
                    </p>
                    <p>[Em breve]<p>
                </a>
            </div>

        </div>
      
        <div class="row text-center">
                       <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Falegrianocaos&amp;width=300&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=226394880893412" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:80px;" allowTransparency="true"></iframe>
        </div>
        
        <div class="row text-center">
            <div class="slogan-box">
                <h1 class="slogan">Queremos espalhar a alegria em meio ao caos em que vivemos!</h1>
            </div>
        </div>
    </div>
</section>
